body {
    background-image: url(../img/Galira.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}

.menu_box 
{
    position:relative;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background:rgb(104, 104, 104);
    width:200px;
    height:200px;
    padding:10px;
    margin-top:300px;
    left:50%;
    transform: translate(-50%) scale(2);
    border-radius:20px;
}

.div1
{    
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}
.div2
{    
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
}
.div3
{  
    grid-area: 3 / 1 / 4 / 3;
    text-align: center;
}
.div4
{    
    grid-area: 4 / 1 / 5 / 2;
    text-align: center;
}
.div5
{    
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
}



.link_button{
    padding:10px;
    width:1100px;
    height:40px;
    text-decoration:none;
    font-family:sans-serif;
    color:rgb(255, 255, 255);
    font-size:15px;
    text-align:center;
    background:rgb(78, 78, 78);
    border-radius:20px;
    
  }
.link_button:hover{
    background:grey;
}



#back_button{
    position: relative;
    padding:10;
    right:0;
}


.banner_title{
    text-align: center;
    font-size:30px;
    color:white;
}

.banner{
    position:fixed;
    background:purple;
    width:100%;
    height:80px;
    text-align:center;
    top:0;
    left:0;
    color:white;
}


/* Estilos para celular*/
@media screen and (min-width: 50px){

    #horario
    {
        transform: translate(0%, 30%) scale(1);
    }
        
    #calificaciones{
        transform: translate(0%, 30%) scale(01);
    }
    
    #tareas{
        transform: translate(0%, 30%) scale(1);
    }
    
    #sigaa{
        transform: translate(0%, 30%) scale(1);
    }
    
    #moodle{
        transform: translate(0%, 30%) scale(1);
    }

#upb_logo
{
    transform: translate(0%, -32%) scale(0.3);
    margin-top:0px;
}

.menu_box 
{
    position:relative;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background:rgb(104, 104, 104);
    width:230px;
    height:250px;
    padding: 10px;;
    margin-top:125px;
    left:50%;
    transform: translate(-50%) scale(1);
    border-radius:20px;
}

.banner_title{
    text-align: center;
    font-size:30px;
    color:white;
}

.banner{
    position:fixed;
    background:rgb(143, 75, 143);
    width:100%;
    height:80px;
    text-align:center;
    top:0;
    left:0;
    color:white;
}

}
/* Estilos para tablet*/
@media screen and (min-width: 700px){

#horario
{
    transform: translate(0%, 30%) scale(1);
}
    
#calificaciones
{
    transform: translate(0%, 30%) scale(1);
}

#tareas
{
    transform: translate(0%, 30%) scale(1);
}

#sigaa
{
    transform: translate(0%, 30%) scale(1);
}

#moodle
{
    transform: translate(0%, 30%) scale(1);
}

#upb_logo
{
    transform: translate(0%, -40%) scale(0.1);
    margin-top:0px;
}

.menu_box 
{
    position:relative;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background:rgb(104, 104, 104);
    width:230px;
    height:250px;
    padding: 10px;
    margin-top:350px;
    left:50%;
    transform: translate(-50%) scale(2);
    border-radius:20px;
    opacity: 0.95;
}

.banner_title{
    text-align: center;
    font-size:45px;
    color:white;
}

.banner{
    position:fixed;
    background:rgb(143, 75, 143);
    width:100%;
    height:120px;
    text-align:center;
    top:0;
    left:0;
    color:white;
    font-size:55px;
}

}