
/* Estilos para celular*/
@media screen and (min-width: 350px){
    body{
        background-color: blue;
    }

.banner{
    position:fixed;
    background:purple;
    width:100%;
    height:80px;
    text-align:center;
    top:0;
    left:0;
    color:white;
}


}
/* Estilos para tablet*/
@media screen and (min-width: 700px){
    body{
        background-color: green;
    }

.banner{
    position:fixed;
    background:purple;
    width:100%;
    height:80px;
    text-align:center;
    top:0;
    left:0;
    color:white;
}

}