.banner{

    font-size: 1000px;

    position:relative;
    background:rgb(104, 104, 104);
    width:300px;
    height:300px;
    padding:40px;
    margin-top:500px;
    left:50%;
    transform: translate(-50%) scale(2);
    border-radius:20px;
	}

}

.banner_title{

    font-size: 1000px;

    position:relative;
    background:rgb(104, 104, 104);
    width:300px;
    height:300px;
    padding:40px;
    margin-top:500px;
    left:50%;
    transform: translate(-50%) scale(2);
    border-radius:20px;
	}

}



/* Estilos para celular*/
@media screen and (min-width: 350px){
    body{
        background-color: blue;
    }

.banner{

    font-size: 100px;

    position:relative;
    background:rgb(104, 104, 104);
    width:300px;
    height:300px;
    padding:40px;
    margin-top:500px;
    left:50%;
    transform: translate(-50%) scale(2);
    border-radius:20px;
	}

}


}
/* Estilos para tablet*/
@media screen and (min-width: 700px){
    body{
        background-color: green;
    }

.banner{

    font-size: 30px;
	}

}